.wrapper {
    display: flex;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .main {
        margin-left: 0 !important;
        padding: 4px !important;
    }
}

.main {
    flex: 1;
    margin-left: var(--sidebar-width);
    background: var(--bg-secondary);
    min-height: 100vh;
    padding: var(--spacing-4);
    min-width: 0;
}